langchain
langchain_community
langchain_core
langchain_text_splitters
tavily-python
langchain_pinecone
pinecone
langgraph
polygon
lancedb
langchain_groq 
langchain_google_genai 
streamlit 
fastapi[all]
uvicorn
langchain_pinecone
pydantic









-e .